@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #004A45;
    color: #FFFDCC;
    font-family: "Montserrat", sans-serif;
}

.paragraph__highlight {
    color: #c5c37a;
}

.self__introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    width: 100%;
    padding: 10%;
}

.self__introduction__content {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.self__introduction__title {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.self__introduction__text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.self__introduction__links {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.self__introduction__links__subtitle {
    font-family: 'Krona One', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    color: #c5c37a;
}

.fa {
    width: 50px;
}

.self__introduction__links__instagram,
.self__introduction__links__github,
.self__introduction__links__linkedin {
    /*background-color: #002724;*/
    display: flex;
    align-items: center;
    gap: 35px;
    border: 2px solid #c5c37a;
    color: #FFFDCC;
    width: 240px;
    padding: 24px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.6s;
}

.self__introduction__links__instagram:hover,
.self__introduction__links__github:hover,
.self__introduction__links__linkedin:hover {
    background-color: #009288;
    color: #c5c37a;
}
.footer {
    text-align: center;
    padding: 24px;
    background-color: #009288;
}